.body-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home-container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: var(--body);
}

.main-container {
  width: 47.25rem;
  height: auto;
  margin-left: 1.875rem;
} 