.bodyContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.homeContainer {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mainContainer {
  width: 47.25rem;
  height: auto;
  margin-left: 1.875rem;
} 