.card {
  width: 340px;
  height: 150px;
  margin: 16px auto 12px;
  padding: 12px;
  border-radius: 0.25rem;
  background-image: url(../../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2555EF;
}

.card_2 {
  width: 340px;
  height: 150px;
  margin: 16px auto 12px;
  padding: 12px;
  border-radius: 0.25rem;
  background-image: url(../../images/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #94cbff;
}

.cardContent {
  width: 316px;
  height: 20px;
  display: flex;
  justify-content: space-between;

  .headerCardContent {
    width: 129px;
    height: 20px;
    padding: 2px;
    font-size: 14px;
    line-height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background: #E65353;
    color: #fff;

    img {
      margin-right: 0.5rem;
    }
  }
}

.title {
  width: 300px;
  height: 38px;
  margin-top: 1rem;

  span {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: var(--white-100);
  }
} 

h3 {
  margin-top: 1rem;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-100);
}

.footerCard {
  width: 316px;
  margin-top: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-100);
  line-height: 16px;
}