.footer-container {
  width: 21.0625rem;
  height: 1rem;
  margin: 5.625rem auto 0.75rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a + a {
  margin-left: 1rem;
}

.links a {
  text-decoration: none;
  font-size: 0.8125rem;
  color:  #A7A9AB;
}